.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabinet Grotesk", sans-serif;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s;
  z-index: 1000;
}

.modal__opened {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  background-color: #fff;
  padding: 28px 32px 36px;
  width: 496px;
  height: 304px;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal_type_sign-up .modal__content {
  height: 500px;
}

.modal__title {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 24px;
  line-height: 20px;
}

.modal__close {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 16px;
  right: 16px;
  border: none;
  background: url("../../images/closeSymbol.png") center/contain no-repeat;
  cursor: pointer;
  color: #555;
  transition: opacity 0.2s;
}

.modal__close:hover {
  opacity: 0.7;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__input {
  width: 100%;
  padding: 12px 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.modal__input::placeholder {
  color: #a9a9a9;
}

.modal__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.modal__legend {
  font-size: 14px;
  margin-bottom: 8px;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  border: none;
}

.modal__radio-option {
  display: flex;
  align-items: center;
  gap: 6px;
}

.modal__submit {
  width: 73px;
  height: 36px;
  background-color: #0000004d;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: not-allowed;
  font-size: 14px;
  font-weight: 500;
}

.modal__submit:hover {
  color: #00000099;
}

.modal__submit-box {
  display: flex;
  gap: 8px;
  align-items: center;
}
