.modal__close {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 24px;
  right: 24px;
  border: none;
  background: url("../../images/closeSymbol.png") center/contain no-repeat;
  cursor: pointer;
  color: #555;
  transition: opacity 0.2s;
}

.modal__close:hover {
  opacity: 0.7;
}
