.card {
  width: 323px;
  border: 1px;
  border-radius: 20%;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  font-family: "Cabinet Grotesk", sans-serif;
  top: 15px;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 1);
}

.card__image {
  height: 328px;
  object-fit: cover;
  width: 100%;
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid;
  border-radius: 5%;
}
