.modal__close {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 24px;
  right: 24px;
  border: none;
  background: url("../../images/closeSymbol.png") center/contain no-repeat;
  cursor: pointer;
  color: #555;
  transition: opacity 0.2s;
}

.modal__close:hover {
  opacity: 0.7;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-top: 16px;
}

.modal__delete-button {
  background-color: transparent;
  border: none;
  color: #ff4d00;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  align-self: flex-start;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.modal__delete-button:hover {
  opacity: 0.7;
}
