.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f5;
  width: 229px;
  height: 138px;
}

.sidebar__profile {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  margin: 16, 116, 16;
}

.sidebar__username {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  margin-bottom: 39px;
  align-items: center;
}

.sidebar__avatar {
  margin-left: 12px;
  flex: 0 0 40px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.sidebar__edit-button {
  background-color: transparent;
  border: none;
  color: #000000;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  align-items: center;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sidebar__edit-profile-button:hover {
  color: #000;
}

.sidebar__logout-button {
  background-color: transparent;
  border: none;
  color: #000000;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  align-items: center;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
