.footer {
  padding: 10px 20px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
  margin-top: 171px;
  margin-bottom: 24px;
}
