.clothes-section__row {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}

.clothes-section__add-button {
  border: none;
  background-color: transparent;
}
