.login__button-group {
  display: flex;
  gap: 8px;
  align-items: center;
}

.login__modal-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.login__modal-text {
  font-size: 16px;
  line-height: 20px;
  color: #00000080;
}
